// Colors
$dark: #525252;
$gray: #DDDDDD;
$light: #f5f5f5;
$textarea-border: #FFDB6B;

// Settings
$borderRadius: 0.4vw;
$volume: 0.6vw;
$enlarger: 0.2vw;

// Fonts
$font-textarea: ("Courier New", "Courier", monospace);
$font-default: ("Verdana", sans-serif);

// Responsive
$max-borderRadius: 4px;
$max-volume: 6px;
$max-enlarger: 2px;
$container-max-width: 920px;

// Breakpoints
$breakpoint-desktop: 1024px;