.text {
  display: block;
  padding: 15px;
  @extend %container;
  height: 200px;

  font: 2.2rem "Courier New", "Courier", monospace;
  
  background-color: white;
  @extend %borderRadius;
  border: 5px solid #FFDB6B;
  outline: none;

  resize: none;
}

.text:focus {
  outline: none;
}

@media (min-width: 1024px) {
  .text {
    max-width: $container-max-width;

    border-radius: $max-borderRadius;
  }
}